<?php

include_once './config/kissrest/Bootstrap.php';

use levitarmouse\kiss_rest\core\Rest;

$composerAutoloader = __DIR__.'/vendor/autoload.php';
if (file_exists($composerAutoloader)) {
    require $composerAutoloader;

}

$restHandler = new Rest(REST_CONFIG);

$restHandler->handleRequest();