[DEFAULT]
DEFAULT_CONTROLLER = "RestController"

; Endpoint where the root Framework is located. Empty if the framework work at as domain
; /dirName if work inside a subfolder
; BASE_ENDPOINT = "/kissf"

[CONTROLLERS_ROUTING]
 / = "HomeController"
 /RequestInfo = "RequestInfo"
 /time    = "DemoKissTimeController"
 /message = "DemoKissMessageController"

[METHODS_ROUTING]
      GET     = 'get'
      POST    = 'post'
      PUT     = 'put'
      DELETE  = 'delete'
      PATCH   = 'patch'
      OPTIONS = 'options-->RAW'
/RequestInfo@GET     = 'requestInfo'
/RequestInfo@POST    = 'requestInfo'
/RequestInfo@PUT     = 'requestInfo'
/RequestInfo@PATCH   = 'requestInfo'
/RequestInfo@DELETE  = 'requestInfo'
/RequestInfo@OPTIONS = 'requestInfo'
/time@GET     = 'dateTime'
/message@GET  = 'saludo'
/@GET = 'apiRoot-->RAW'
